@{
    Layout = "~/Views/Shared/_Layout_No_Menu.cshtml";
    ViewBag.Title = "Recuperar contraseña";
}
<section class="login">
    <div class="login-box">
        <div class="welcome">
            <div class="fondo-form">
                <img class="img" src="~/Images/Login/recuperar_password.png" />
            </div>
        </div>
        <div class="login-form align-center">
            <div class="logo" alt="Merian Party Store"></div>
            <div class="align-left info-section">
                <label class="bold title text-color-black block">¡Te hemos enviado un correo electrónico!</label>
                <p class="text text-color-black">Por favor, revisa tu correo electrónico, te hemos enviado una nueva contraseña. Si no lo encuentras, revisa spam o correos no deseados.</p>
            </div>
            <a class="button background-color03 text-color-white" href="@Url.Action("Index", "Login")">Iniciar sesión</a>
            <input type="submit" class="hidden" />
        </div>
    </div>
</section>
