@{
    Layout = "~/Views/Shared/_Layout_No_Menu.cshtml";
    ViewBag.Title = "Login";
}
<section class="login">
    <div class="login-box">
        <div class="welcome">
            <div class="fondo-form">
                <img class="img" src="~/Images/Login/recuperar_password.png" />
            </div>
        </div>
        <div class="login-form align-center">
            <form action="@Url.Action("PasswordRecuperado", "Login")" id="frmRecuperarPassword" method="post" onsubmit="startLoading();">
                <div class="logo" alt="Merian Party Store"></div>
                <div class="align-left info-section">
                    <label class="bold title text-color-black block"><a  href="@Url.Action("Index", "Login")" class="ic-back"></a>Recuperar contraseña</label>
                    <p class="text text-color-black">Ingresa tu usuario. Te enviaremos un correo electrónico con tu nueva contraseña.</p>
                </div>
                <label class="login-input user"><input id="username" placeholder="Nombre de usuario" type="text" name="Username" value="@Request["Username"]" autofocus /></label>
                <a class="button background-color03 text-color-white"  onclick="RecuperarPassword();">Enviar</a>
                <input type="submit" class="hidden" />
            </form>
        </div>
    </div>
</section>

@section scripts {
    <script>

        $(document).ready(function () {
            setValidations();
        });

        //Validaciones
        var validator = null;
        function setValidations() {
            var fields = [
                { selector: '#username', name: 'Usuario', required: true, type: 'E' }
            ];
            validator = new Validator(fields, 'error');
        }

        //Recuperar password
        function RecuperarPassword() {
            var result = validator.validate();
            if (result == null)
                $('#frmRecuperarPassword').submit();
            else
                showMessage(result, null);
        }
    </script>
}