################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Merian Party Store Web/.vs/Merian Party Store Web/FileContentIndex/3b2177e1-f46c-47c3-a7e1-ee3326463600.vsidx
/Merian Party Store Web/.vs/Merian Party Store Web/FileContentIndex/75c0c821-5749-46da-8d8b-60abc3527a46.vsidx
/Merian Party Store Web/.vs/Merian Party Store Web/FileContentIndex/fdac844b-0436-4efa-bac0-8e6030b1c512.vsidx
