################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Merian Party Store Web/.vs/Merian Party Store Web/FileContentIndex/3b2177e1-f46c-47c3-a7e1-ee3326463600.vsidx
