<html>
<body style="margin: 0; padding: 0; background-color: #ffffff; padding-top: 25px; padding-bottom: 25px; text-align: center; font-family: Arial;">
    <img width="150" src="[UrlRoot]Images/logo.png" style="padding-left:5px;" />
    <table align="center" ; style="width: 100%; margin-top: 25px; max-width: 600px; background-color: #ffffff; border-radius:16px;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="padding: 20px;">
                <table align="center" cellpadding="4">
                    <tr>
                        <td align="right">
                            <label style="font-size: 1.4em; color: #DE9A87;"><b>Hola, [Nombre]</b></label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px;">
				<label>Has solicitado recuperar tu contraseña. Para tal efecto, hemos creado una contraseña aleatoria para que puedas ingresar a la plataforma. <br/><br/>¡Una vez hayas ingresado recuerda actualizar la contraseña!</label>
			</td>
        </tr>
        <!--<tr>
            <td style="padding: 10px;"></td>
        </tr>-->
        <tr>
            <td>
                <table style="width: 100%; background: #ffffff;" cellpadding="5">
                    <tr>
                        <td style="padding: 20px;" align="center">
                            <label style="font-size: 1.1em; color: #DE9A87; display: block; "><b>Contraseña:</b></label>
							<a style="color: #DE9A87; font-size: 1em; ">[Password]</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--<tr>
            <td style="padding: 10px;"></td>
        </tr>-->
        <tr>
            <td align="center" style="padding: 20px;">
				<label>En caso no hayas realizado esta acción, restaura tu contraseña anterior dando clic en el siguiente enlace.</label>
                <a href="[UrlRestablecerPasswordAnterior]" style="color: #B84747;">Haz clic aquí</a><br /><br />
			</td>
        </tr>
        <!--<tr>
            <td style="padding: 10px;"></td>
        </tr>-->
        <tr>
            <td style="width: 100%; background-color: #ffffff; padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px;" align="center">
                <a href="https://localhost:44385/" style="background-color: #DE9A87; color: #ffffff; padding-top: 10px; padding-bottom: 10px; padding-right: 25px; padding-left: 25px; border-radius: 16px;text-decoration:none;">Ir a la plataforma</a><br /><br />
            </td>
        </tr>
    </table>
</body>
</html>